<div class="main">
    <div class="title">TODO LIST</div>
    <div class="header">
        <div class="textbar">
            <input type="text" name="username" placeholder={{placeholder_value}} [(ngModel)] = "Todo" (keyup.enter) = "Add_todo(Todo)" >
        </div>
        <div class="todobtn"  >
            <button class="addbtn"  (click)="Add_todo(Todo)">&#43;</button>
        </div>    
    </div>
    <div class="todobody" *ngFor = "let item of todos">
        <div class="todos">
            <div class="icon"> <i (click)="removetodo(item)">&#10006;</i></div>
            <div class="todovalue">{{item}} </div>    
                  
        </div>        
    </div>   
</div>