<div class="main">
    <div class="header">
        <div class="textbar">
            <input type="text" name="username" [(ngModel)] = "Todo">
        </div>
        <div class="todobtn">
            <button (click)="Add_todo(Todo)">TODO</button>
        </div>    
    </div>
    <div class="todobody" *ngFor = "let item of todos">
        <div class="todos">
            <div class="todovalues">{{item}} </div>
            <div class="icon"> <i (click)="removetodo(item)">&#10060;</i> </div>
        </div>        
    </div>    
    
    
</div>